/*PT Sans*/
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff') format('woff'), url('../fonts/ptsans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsansitalic.woff2') format('woff2'), url('../fonts/ptsansitalic.woff') format('woff'), url('../fonts/ptsansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsansbold.woff2') format('woff2'), url('../fonts/ptsansbold.woff') format('woff'), url('../fonts/ptsansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsansbolditalic.woff2') format('woff2'), url('../fonts/ptsansbolditalic.woff') format('woff'), url('../fonts/ptsansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
img{
	max-width: 100%;
	max-height: 100%;
}
input, textarea, button{
	outline: none;
}
button{
	cursor: pointer;
}
body{
	font-family: "PT Sans", sans-serif, arial;
}

.btn{
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.container{
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}
.container:after, .about__reviews-item:after, .reviews__photo:after{
	content: '';
	clear: both;
	display: block;
}

/*GRADIENT*/

.separate:after{
    content: '';
    position: absolute;
    width: 100%;
	height: 15px;
	left: 0;
	top: 100%;
	background-image: linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
	background-size: 35px 20px;
	background-repeat: repeat;
}


/*INDEX.HTML*/

/*PAGE-HEADER*/
.page-header{
    position: relative;
    margin-bottom: 15px;
	background-color: #FFCE34;
	padding: 12px 0;

}
.page-header a{
	color: #000;
}

.main-nav a{
	color: #735c17;
	font-weight: 400;
}

.main-nav .main-nav__active{
    color: #000;
    font-weight: 700;
}

.logo{
	width:300px;
	float: left;
	text-decoration: none;
	padding: 3px 0;
	margin-right: 20px;
}
.logo-img,
.logo-brand{
	display: inline-block;
	vertical-align: middle;
}
.logo-brand{
	font-size: 24px;
	padding-left: 7px;
}
.main-nav{
	/*width: 80%;*/
	float: left;
	width: 445px;
	padding: 13px 0;
	/*padding: 0;*/
	text-align: right;
    font-family: "PT Sans", sans-serif, arial;
}
.main-nav li{
	display: inline-block;
	vertical-align: middle;
	/*margin-right: 20px;*/
}
/*.main-nav li:first-child{
	font-weight: bold;
}*/
.main-nav a{
/*	display: inline-block;
	padding: 11px;*/
	text-decoration: none;
	padding: 13px 15px;
	font-size: 16px;
	line-height: 26px;
	border: 2px solid transparent;
	transition: all 0.4s ease;
}

.main-nav a:hover{
	border: 2px solid #bc9d36;
}

.main-nav a:active{
	border: 2px solid #796e38;
}

.btn-order{
	float: right;
	width: 175px;
	padding: 17px 30px;
	background-color: #ffe184;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
}

.btn-order:hover{
	background-color: #ffecb2;
}

.btn-order:active{
	background-color: #f6bf16;
}

/*PROMO*/
.promo{
	position: relative;
    margin-bottom: 15px;
	padding-top: 125px;
	background-image: url("../img/Banner.png");
	background-repeat: no-repeat;
	background-position: center;
    padding-bottom: 120px;
    background-size: cover;
}

.promo__slogan{
	font-size: 44px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	/*margin-top: 168px;*/
	margin-bottom: 15px;
	color: #fff;
}
.promo__title{
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	color: #fff;
	margin: 0 0 25px 0;
}

.promo__btn{
	position: relative;
	display: block;
	width: 220px;
	border: 2px solid #ffcd34;
   	font-size: 18px;
	font-weight: 700;
	padding: 9px 30px 9px 20px;
	text-decoration: none;
	color: #fff;
	margin: 0 auto;
	text-align: left;
	/*background-image: url("../img/promo__btn.png");*/
/*

	background-repeat: no-repeat;
	background-position: 180px;*/
}

.promo__btn:after{
	position: absolute;
	content: '';
	top: 12px;
	right: 20px;
	/*display: block;*/
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: 0 -50px ;
	width: 13px;
	height: 19px;
}

/*.promo__btn span{
	padding-left: 20px;
}
*/
/*CONSULT*/
.consult{
	background-color: #202e3b;
   	padding: 40px 0;
}

.consult__title{
	color: #ffcd34;
	padding-bottom: 40px;
	font-size: 24px;
	font-weight: 400;
}

.consult__field{
	width: 220px;
	float: left;
	margin-right: 20px;
	border: 2px solid #ffcd34;
	font-size: 16px;
	padding: 11px;
	background-color: #202e3b;
	color: #ffffff;
}
div.consult__field{
	padding: 0;
	position: relative;
}
div.consult__field:after{
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	margin: auto;
	right: 20px;

	/*display: block;*/
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -150px -50px ;
	width: 19px;
	height: 10px;
}
.rotate__arrow:after{
	transform: rotate(180deg);
}
/*div.consult__field:focus:after{
	transform: rotate(180deg);
}*/

/*.consult-form input:first-child{
	margin-left: 0;
}*/

.consult__btn{
	width: 220px;
	background: #ffcd34;
    /*margin-left: 10px;*/
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
	padding: 13px;
	color: #202e3b;
	border: none;
}

.consult__form .arrow{
	/*position: relative;*/
	/*padding-right: 30px;*/
	width: 100%;
	padding: 11px;
	border: none;
	background-color: transparent;
	color: #fff;
}


/*FEATURES*/

.features{
	background-color: #fff;
	padding: 47px 0;
}

.features__item{
	position: relative;
	float: left;
	width: 220px;
	margin-right: 20px;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 60px;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	list-style: none;
}

.features__item:nth-child(4n){
	margin-right: 0;
}

.features__item:before{
	background-image: url("../img/sprite.png");
	content: '';
	position: absolute;
	background-repeat: no-repeat;
	display: block;
	margin-top: 5px;
}
.features__item--tool:before{
	left: 0;
	top: 0;
	width: 42px;
	height: 40px;
	background-position: -50px 0;
	/*background-image: url("../img/features_tool.png");*/
}

.features__item--work:before{
	left: 0;
	top: 0;
	width: 46px;
	height: 40px;
	background-position: -100px 0;
	/*background-image: url("../img/features_work.png");*/
}

.features__item--fencing:before{
	left: 0;
	top: 0;
	width: 42px;
	height: 40px;
	background-position: 0 0;
	/*background-image: url("../img/features_fencing.png");*/
}

.features__item--workman:before{
	left: 0;
	top: 0;
	width: 31px;
	height: 40px;
	background-position: -150px 0;
	/*background-image: url("../img/features_workman.png");*/
}

/*TECHNIC*/
  /*Menu*/

.technic {
	position: relative;
    margin-bottom: 15px;
	background-color: #f3f3f3;
	padding: 45px 0px;
}

.technic__menu{
	float: left;
	width: 220px;
}

.technic__deals{
	float: left;
	padding-left: 20px;
}

 .technic__menu-subtitle{
	font-size: 26px;
	font-weight: 700;
	padding-bottom: 15px;
	color: #0000;
}

.technic__menu li{
	/*padding-bottom: 25px;*/
	font-size: 16px;
	line-height: 38px;
    color: #202e3b;
    list-style-type: none;
}

 /*Table*/

.technic__deals-subtitle{
	font-size: 26px;
	font-weight: 700;
	padding-bottom: 15px;
}
.technic__deals-table{
	border-collapse: collapse;
	width: 700px;
    overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.technic__deals-table th{
    font-weight: 700;
    font-size: 16px;
    /*line-height: 38px;*/
    background-color: #dfdfdf;
    text-align: left;
    padding: 11px 0 11px 16px;
}

.technic__deals-table td{
	padding: 11px 0 11px 16px;
	font-weight: 400;
	font-size: 16px;
}

.technic__deals-table th:last-child{
	/*padding-right: 90px;*/
}
.technic__deals-table tr:nth-child(2n+1){
    background-color: #fff;
}

/*ABOUT*/

.about{
	position: relative;
    margin-bottom: 15px;
	padding-top: 45px;
	background-color: #202e3b;
	padding-bottom: 40px;
}

.about__number{
	float: left;
	width: 300px;
	margin-right: 20px;
}


.about__number .about__number-subtitle{
	color: #fff;
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 27px;
}

.about__number .about__number-subtitle span{
	font-weight: 400;
}

.about__number li{
	list-style-type: none;
}
.about__description{
	display: inline-block;
	vertical-align: middle;
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;
	color: #9e9e9e;
	/*padding-top: -10px;*/
}

.about__digit{
	display: inline-block;
	vertical-align: middle;
	color:#f1b132;
	font-size: 38px;
	font-weight: 700;
	padding-right: 18px;
}

.about__reviews .about__reviews-subtitle{
	color: #fff;
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 27px;
}

.about__reviews {
	float: left;
	width: 620px;
	padding-bottom: 40px;
}
.about__reviews-item{
	margin-bottom: 40px;
}

.img-skin{
	width: 120px;
	height: 120px;
	float: left;
}
.about__reviews img{
    width: 100%;
    border: 2px solid #f1b132;
    border-radius: 8px;
}

.about__reviews blockquote{
	float: left;
	width: 490px;
    padding-left: 23px;
	font-style: italic;
	font-size: 18px;
	font-weight: 400;
	color: #f0f1f2;
}

.about__reviews cite{
    padding-top: 8px;
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #f1b132;
    font-style: normal;
}

/*MAP*/

.map{
	height: 500px;
	background-color: #fff;
}

/*PAGE-FOOTER*/

.page-footer{
	background-color: #202e3b;
	padding: 12px 0;

}
.page-footer a{
	color: #ffffff;
}

.page-footer .logo-brand{
	color: #ffcd34;
}

.main-nav--footer{
	/*width: 80%;*/
	float: left;
	width: 445px;
	padding: 13px 0;
	text-align: right;
    font-family: "PT Sans", sans-serif, arial;
}

.main-nav--footer li{
	display: inline-block;
	vertical-align: middle;
	/*margin-right: 20px;*/
}

.main-nav--footer a{
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
	padding: 13px 15px;
	border: 2px solid transparent;
	transition: all 0.4s ease;
}

.main-nav--footer a:hover{
	border: 2px solid #3f4c56;
}

.main-nav--footer a:active{
	border: 2px solid #a6abb1;
}


.page-footer .btn-order{
	background-color: #202e3b;
    color: #ffcd34;
    font-weight: 400;
}

/*CATALOG.HTML*/

/*ARENDA*/

.arenda{
	/*padding-top: 160px;*/
	background-image: url("../img/arenda.png");
	background-repeat: no-repeat;
	background-position: center;
    /*padding-bottom: 210px;*/
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 50px;
}

.arenda__left-col{
	float: left;
	width: 700px;
	/*padding-top: 41px;*/
	padding-top: 6px;
}

.arenda__right-col{
	float: left;
	width: 240px;
}

.arenda__title{
	font-size: 26px;
	color: #ffcd34;
	font-weight: 400;
	margin: 0;
	padding-bottom: 10px;
}

.arenda__slogan{
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}

.arenda__btn{
	/*width: 240px;*/
	width: 100%;
	background-color: #ffcd34;
	font-size: 18px;
	font-weight: 700;
	padding: 12px 0;
	text-align: center;
	margin-bottom: 12px;
}

.arenda__btn a{
	text-decoration: none;
	color: #202e3b;
}

.arenda__promise{
    font-size: 16px;
    color: #fff;
}

/*CATALOG*/

.rotate{
	position: absolute;
	padding: 5px;
    width: 140px;
    /*height: 20px;*/
    right: -40px;
    top: 5px;
    transform: rotate(45deg);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;

}

.catalog__menu{
	float: left;
	width: 220px;
    /*padding-right: 80px;*/
    margin-right: 20px;
}

.catalog__example{
	float: left;
	width: 700px;
}

.catalog{
	padding-top: 30px;
	/*padding-bottom: 47px;*/
	background-color: #f3f3f3;
}

/*Catalog__menu*/

.catalog__logo img, h2 {
    display: inline-block;
    vertical-align: middle;
}

.catalog__title{
	position: relative;
	padding-left: 50px;
}

.catalog__title:before{
    position: absolute;
	content: '';
	top: 3px;
	left: 0px;
	/*display: block;*/
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -100px -50px ;
	width: 31px;
	height: 24px;
}

.catalog__menu li{
    list-style-type: none;
    font-size: 16px;
    line-height: 38px;

}

.catalog__link{
	color: #353535;

}

.catalog__link--active{
    font-weight: 700;
    text-decoration: none;
    color: #000;
    position: relative;
    padding-left: 17px;
}

.catalog__link--active:before{
    position: absolute;
	content: '';
	top: 5px;
	left: 0px;
	/*display: block;*/
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -100px -100px ;
	width: 7px;
	height: 11px;
}

/*.fa-chevron-right{
    margin-right: 12px;
}*/

.catalog__download{
	display: block;
	width: 220px;
	background-color: #354b60;
	text-decoration: none;
	color: #fff;
	text-align: center;
	padding: 9px 24px 9px 30px;
	position: relative;
}

.catalog__download:before{
    position: absolute;
	content: '';
	top: 9px;
	left: 11px;
	/*display: block;*/
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -50px -50px ;
	width: 17px;
	height: 18px;
}

.catalog__download:hover{
	background-color: #46617a;
}

.catalog__download:active{
	background-color: #567999;
}


/*Catalog__example*/

.catalog__portfolio{
	width: 300px;
	padding: 30px;
	background-color: #fff;
	float: right;
	margin: 0 0 20px 20px;
	/*for class="new"*/
	position: relative;
	overflow: hidden;
}

.catalog .catalog__portfolio:nth-child(2n){
	margin-left: 0;
}

.catalog__portfolio-item{
	/*padding: 20px;*/
	overflow: hidden;
}

.catalog__portfolio-item h2{
	padding-bottom: 30px;
	font-size: 21px;
	font-weight: 700;
}

.catalog__portfolio-item img{
	padding-bottom: 34px;
}

.catalog__cost-big{
	display: block;
	font-size: 27px;
	font-weight: 700;
}

.catalog__cost-little{
	display: inline-block;
	font-size: 20px;
}

.catalog__btn{
	display: block;
	/*margin-top: 25px;*/
	width: 240px;
	margin: 0 auto;
	padding-top: 25px;
	/*padding: 12px 0 13px 0;*/
}

.catalog__btn a{
	float: left;
	width: 50%;
	text-decoration: none;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.catalog__btn a:first-child{
	background-color: #f3c331;
}

.catalog__btn a:last-child{
	background-color: #354b60;
}

.catalog__btn a:first-child:hover{
	background-color: #ffd966;
}

.catalog__btn a:first-child:active{
    background-color: #ffc600;
}

.catalog__btn a:last-child:hover{
    background-color: #46617a;
}

.catalog__btn a:last-child:active{
    background-color: #567999;
}

.catalog__after-portfolio-menu{
	clear: both;
    padding: 27px 0 47px 80px;
    text-align: center;
}

.catalog__after-portfolio-menu .active{
	background-color: #354b60;
	color: #fff;
}

.catalog__after-portfolio-menu a{
	padding: 3px 7px;
	border-radius: 4px;
	text-decoration: none;
	color: #353535;
	font-size: 16px;
	font-weight: 400;
	border: 2px solid transparent;
}

.catalog__after-portfolio-menu a:hover{
    border: 2px solid #9aa5af;
}

.catalog__after-portfolio-menu a:active{
    border: 2px solid #354b60;
}

.rotate-green{
	background-color: #00c22e;
}

/*PROMO-CATALOG*/

.promo-catalog{
	background-image: url("../img/promo-catalog-bg.png");
	background-repeat: no-repeat;
	/*background-position: center;*/
    background-size: cover;
    padding: 50px 0;
}

.promo-catalog__title{
	display: block;
	font-size: 26px;
	font-weight: 700;
	color: #fff;
	padding-bottom: 30px;
}

.promo-catalog__portfolio{
	float: left;
	margin: 0 20px 20px 0;
}

.promo-catalog .catalog__portfolio:nth-of-type(3n){
	margin-right: 0;
}

.promo-catalog__cost{
	display: inline-block;
	text-decoration: line-through;
	color: #d12222;
	font-size: 22px;
	font-weight: 700;
	margin-right: 10px;
}

.promo-catalog__portfolio .catalog__cost-big{
	font-size: 22px;
	display: inline-block;
}

.promo-catalog__portfolio .catalog__cost-little{
	font-size: 18px;
}

.rotate-red{
    background-color: #d12222;
}

/*PORTFOLIO.HTML*/

/*PORTFOLIO*/

.portfolio{
    background-image: url("../img/portfolio__menu.png");
	background-repeat: no-repeat;
	background-position: center;
    /*padding-bottom: 210px;*/
    background-size: cover;
    padding: 45px 0;
}

.portfolio__title{
	float: left;
	width: 220px;
	margin: 0 20px 0 0;
	color: #ffcd34;
	font-size: 24px;
	font-weight: 400;
}

.portfolio__menu ul{
	float: right;
	width: 700px;
	list-style-type: none;
	text-align: right;
}

.portfolio__menu li{
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

.portfolio__menu a{
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	line-height: 31px;
}

.portfolio__menu a:hover{
    font-weight: 700;
}

.portfolio__menu a:active{
	font-weight: 700;
	text-decoration: none;
}

/*PORTFOLIO__IMAGE*/

.portfolio__image{
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    border-top: 10px solid #000;
    padding-top: 100px;
    padding-bottom: 150px;
}

.portfolio__about1{
	background-image: url("../img/portfolio__image1.png");
}

.portfolio__about2{
	background-image: url("../img/portfolio__image2.png");
}

.portfolio__about3{
	background-image: url("../img/portfolio__image3.png");
}

.portfolio__description{
	width: 320px;
    background-color: #fff;
    padding: 30px;
}

.portfolio__image-title{
	font-size: 20px;
	font-weight: 700;
}

.portfolio__description p{
	font-size: 14px;
	font-weight: 400;
	padding: 10px 0;
}

.portfolio__button{
	position: relative;
	display: inline-block;
	width: 126px;
	background-color: #ffcd34;
	text-decoration: none;
	color: #1d333f;
	font-size: 15px;
	font-weight: 700;
	padding: 12px;
}

.portfolio__button:after{
	position: absolute;
	content: '';
	top: 17px;
	right: 20px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -100px -100px ;
	width: 7px;
	height: 11px;
}

.portfolio__button:hover{
	background-color: #ffd966;
}

.portfolio__button:active{
	background-color: #f6bf16;
}


.portfolio__image+.separate{
	position: relative;
    margin-bottom: 15px;
}

/*CONTACTS.HTML*/

/*CONTACTS__MENU*/

.contacts__menu{
    background-image: url("../img/contacts__menu.png");
    background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    padding: 30px 0;
}

.contacts__left-coll{
	float: left;
	width: 680px;
	margin-right: 20px;
}

.contacts__right-coll{
	float: left;
	width: 240px;
}

.contacts__title{
	display: inline-block;
	font-size: 26px;
	color: #ffcd34;
	font-weight: 400;
	margin: 0;
	padding-bottom: 10px;
	margin-right: 18px;
}

.contacts__slogan{
	display: inline-block;
	font-size: 16px;
	color: #fff;
}

.contacts__btn{
	/*width: 240px;*/
	display: block;
	width: 100%;
	background-color: #ffcd34;
	font-size: 18px;
	font-weight: 700;
	padding: 12px 0;
	text-align: center;
	text-decoration: none;
	color: #202e3b;
}

/*CONTACTS-INFORM*/

.contacts-inform{
	background-color: #f3f3f3;
	padding: 40px 0 50px 0;
}

.contacts-inform__map{
	float: left;
	width: 620px;
	margin-right: 20px;
}

.contacts-inform__data{
	float: left;
	width: 300px;
}

.contacts-inform__phone{
    position: relative;
    padding-left: 40px;
    font-size: 18px;
    font-weight: 700;
    display: block;
    /*line-height: 26px;*/
    margin-bottom: 12px;
}

.contacts-inform__phone a{
    text-decoration: none;
    color: #000;
}

.contacts-inform__phone:before{
    position: absolute;
	content: '';
	top: 2px;
	left: 0px;
	/*display: block;*/
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -50px -100px ;
	width: 20px;
	height: 20px;
}

.contacts-inform__email{
    position: relative;
    padding-left: 40px;
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin-bottom: 17px;
}

.contacts-inform__email a{
    text-decoration: none;
    color: #000;
}

.contacts-inform__email:before{
    position: absolute;
	content: '';
	top: 2px;
	left: 0px;
	/*display: block;*/
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: 0 -100px ;
	width: 23px;
	height: 17px;
}


.contacts-inform__data input:nth-child(1){
	width: 100%;
	max-width: 300px;
    padding: 8px 0 8px 16px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #b0b0b0;
}

.contacts-inform__data input:nth-child(2){
	width: 100%;
	max-width: 300px;
    padding: 8px 0 8px 16px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #b0b0b0;
}

.contacts-inform__data textarea{
	width: 100%;
	max-width: 300px;
	height: 97px;
    padding: 6px 16px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #b0b0b0;
}

.contacts-inform__btn{
	width: 300px;
	background-color: #354b60;
	padding: 10px 0;
	text-align: center;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
}

.contacts-inform__zakaz p{
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.contacts-inform__zakaz{
    margin-bottom: 20px;
}

/*REVIEWS*/

.reviews{
	padding: 40px 0 66px 0;
/*	float: left;*/
}

.reviews__title{
	display: block;
	font-size: 26px;
	font-weight: 700;
	text-align: left;
	padding-bottom: 25px;
}

.reviews__item{
	width: 220px;
	float: left;
	margin-right: 20px;
	text-align: center;
}

.reviews__img-skin{
	border: 1px solid #000;
	border-radius: 60px;
	margin: 0 auto;
    width: 120px;
    height: 120px;
}

.reviews__item img{
	width: 100%;
}

.reviews__item:nth-of-type(4n){
	margin-right: 0;
}

.reviews__photo{
	width: 220px;
	margin-bottom: 20px;
}

.reviews__item blockqoute{
	display: block;
	font-size: 14px;
	font-weight: 400;
	font-style: italic;

}

.reviews__item cite{
	display: block;
	font-weight: 700;
	font-style: normal;
	margin-top: 10px;
}