/*PT Sans*/
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff') format('woff'), url('../fonts/ptsans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsansitalic.woff2') format('woff2'), url('../fonts/ptsansitalic.woff') format('woff'), url('../fonts/ptsansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsansbold.woff2') format('woff2'), url('../fonts/ptsansbold.woff') format('woff'), url('../fonts/ptsansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsansbolditalic.woff2') format('woff2'), url('../fonts/ptsansbolditalic.woff') format('woff'), url('../fonts/ptsansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "PT Sans", sans-serif, arial;
}
img{
	max-width: 100%;
	max-height: 100%;
}
input, textarea, button{
	outline: none;
}
.btn{
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.container{
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}
.container:after, .about__reviews-item:after{
	content: '';
	clear: both;
	display: block;
}

/*INDEX.HTML*/

/*PAGE-HEADER*/
.page-header{

	background-color: #FFCE34;
	padding: 12px 0;

}
.page-header a{
	color: black;
}
.logo{
	width: 200px;
	float: left;
	text-decoration: none;
	padding: 3px 0;
}
.logo-img,
.logo-brand{
	display: inline-block;
	vertical-align: middle;
}
.logo-brand{
	font-size: 24px;
	padding-left: 7px;
}
.main-nav{
	/*width: 80%;*/
	float: left;
	width: 565px;
	padding: 13px 0;
	text-align: right;
    font-family: "PT Sans", sans-serif, arial;
}
.main-nav li{
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
.main-nav li:first-child{
	font-weight: bold;
}
.main-nav a{
/*	display: inline-block;
	padding: 11px;*/
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
	border: 2px solid transparent;
	transition: all 0.4s ease;
}

.main-nav a:hover{
	border: 2px solid black;
}

.btn-order{
	float: right;
	width: 175px;
	padding: 17px 30px;
	background-color: #ffdf83;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;

}

/*PROMO*/
.promo{
	padding-top: 160px;
	background-image: url("../img/Banner.png");
	background-repeat: no-repeat;
	background-position: center;
    padding-bottom: 210px;
    background-size: cover;
}

.promo__slogan{
	font-size: 44px;
	text-align: center;
	/*margin-top: 168px;*/
	margin-bottom: 42px;
	color: #fff;
}
.promo__title{
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	color: #fff;
	margin-bottom: 25px;
}

.promo__btn{
	display: block;
	width: 220px;
	border: 2px solid #ffcd34;
   	font-size: 18px;
	font-weight: 700;
	padding: 9px 30px 9px 9px;
	text-decoration: none;
	color: #fff;
	margin: 0 auto;
	background-image: url("../img/promo__btn.png");
	background-repeat: no-repeat;
	background-position: 180px;
}

.promo__btn span{
	padding-left: 20px;
}

/*CONSULT*/
.consult{
	background-color: #202e3b;
   	padding-top: 14px;
	padding-bottom: 40px;
}

.consult-form input{
	width: 220px;
	float: left;
	margin-right: 20px;
	border: 2px solid #ffcd34;
	font-size: 16px;
	padding: 11px;
	background-color: #202e3b;
	color: #ffffff;
}

/*.consult-form input:first-child{
	margin-left: 0;
}*/

.consult-btn{
	width: 220px;
	background: #ffcd34;
    /*margin-left: 10px;*/
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
	padding: 13px;
	color: #202e3b;
	border: none;
}

/*FEATURES*/

.features{
	background-color: #fff;
	padding: 47px 0;
}

.features__item{
	position: relative;
	float: left;
	width: 220px;
	margin-right: 20px;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 60px;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	list-style: none;
}

.features__item:nth-child(4n){
	margin-right: 0;
}

.features__item:before{
	/*background-image: url(sprite.png);*/
	content: '';
	position: absolute;
	background-repeat: no-repeat;
	display: block;
}
.features__item--tool:before{
	left: 0;
	top: 0;
	width: 42px;
	height: 40px;
	background-position: 0 0;
	background-image: url("../img/features_tool.png");
}

.features__item--work{
	background-image: url("../img/features_work.png");
}

.features__item--fencing{
	background-image: url("../img/features_fencing.png");
}

.features__item--workman{
	background-image: url("../img/features_workman.png");
}

/*TECHNIC*/
  /*Menu*/

.technic {
	background-color: #f3f3f3;
	padding: 45px;
}

.technic__menu{
	float: left;
}

.technic__deals{
	float: left;
}

 .technic__menu-subtitle{
	font-size: 26px;
	font-weight: 700;
	padding-bottom: 15px;
	color: #0000;
}

.technic__menu li{
	/*padding-bottom: 25px;*/
	font-size: 16px;
	line-height: 38px;
    color: #202e3b;
    list-style-type: none;
}

 /*Table*/


.technic__deals{
	padding-left: 60px;
}

.technic__deals-subtitle{
	font-size: 26px;
	font-weight: 700;
	padding-bottom: 15px;
}
.technic__deals-table{
	border-collapse: collapse;
	width: 703px;
    overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.technic__deals-table th{
    font-weight: 700;
    font-size: 16px;
    /*line-height: 38px;*/
    background-color: #dfdfdf;
    text-align: left;
    padding: 11px 0 11px 16px;
}

.technic__deals-table td{
	padding: 11px 0 11px 16px;
	font-weight: 400;
	font-size: 16px;
}

.technic__deals-table th:last-child{
	/*padding-right: 90px;*/
}
.technic__deals-table tr:nth-child(2n+1){
    background-color: #fff;
}

/*ABOUT*/

.about{
	padding-top: 45px;
	background-color: #202e3b;
	padding-bottom: 40px;
}

.about__number{
	float: left;
	width: 300px;
	margin-right: 20px;
}


.about__number .about__number-subtitle{
	color: #fff;
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 27px;
}

.about__number .about__number-subtitle span{
	font-weight: 400;
}

.about__number li{
	list-style-type: none;
}
.about__description{
	display: inline-block;
	vertical-align: middle;
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;
	color: #9e9e9e;
	/*padding-top: -10px;*/
}

.about__digit{
	display: inline-block;
	vertical-align: middle;
	color:#f1b132;
	font-size: 38px;
	font-weight: 700;
	padding-right: 18px;
}

.about__reviews .about__reviews-subtitle{
	color: #fff;
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 27px;
}

.about__reviews {
	float: left;
	width: 620px;
	padding-bottom: 40px;
}
.about__reviews-item{
	margin-bottom: 40px;
}

.img-skin{
	width: 120px;
	height: 120px;
	float: left;
}
.about__reviews img{
    width: 100%;
}

.about__reviews blockquote{
	float: left;
	width: 490px;
    padding-left: 23px;
	font-style: italic;
	font-size: 18px;
	font-weight: 400;
	color: #f0f1f2;
}

.about__reviews cite{
    padding-top: 8px;
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #f1b132;
    font-style: normal;
}

/*MAP*/

.map{
	height: 500px;
	background-color: #fff;
}

/*PAGE-FOOTER*/

.page-footer{
	background-color: #202e3b;
	padding: 12px 0;

}
.page-footer a{
	color: #ffffff;
}

.page-footer .logo-brand{
	color: #ffcd34;
}

.main-nav--footer{
	/*width: 80%;*/
	float: left;
	width: 560px;
	padding: 13px 0;
	text-align: right;
    font-family: "PT Sans", sans-serif, arial;
}

.main-nav--footer li{
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}

.main-nav--footer a{
	text-decoration: none;
	font-size: 16px;
	line-height: 26px;
}

.page-footer .btn-order{
	background-color: #202e3b;
    color: #ffcd34;
    font-weight: 400;
}

/*CATALOG.HTML*/

/*ARENDA*/

.arenda{
	/*padding-top: 160px;*/
	background-image: url("../img/arenda.png");
	background-repeat: no-repeat;
	background-position: center;
    /*padding-bottom: 210px;*/
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 50px;
}

.arenda__left-col{
	float: left;
	width: 700px;
	/*padding-top: 41px;*/
	padding-top: 6px;
}

.arenda__right-col{
	float: left;
	width: 240px;
}

.arenda__title{
	font-size: 26px;
	color: #ffcd34;
	font-weight: 400;
	margin: 0;
	padding-bottom: 10px;
}

.arenda__slogan{
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}

.arenda__btn{
	/*width: 240px;*/
	width: 100%;
	background-color: #ffcd34;
	font-size: 16px;
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 12px;
	text-align: center;
	margin-bottom: 12px;
}

.arenda__btn a{
	text-decoration: none;
	color: #202e3b;
}

.arenda__promise{
    font-size: 16px;
    color: #fff;
}

/*CATALOG*/

.catalog__menu{
	float: left;
	width: 220px;
    /*padding-right: 80px;*/
    margin-right: 20px;
}

.catalog__example{
	float: left;
	width: 700px;
}

.catalog{
	padding-top: 30px;
	background-color: #f3f3f3;
}

/*Catalog__menu*/

.catalog__logo img, h2 {
    display: inline-block;
    vertical-align: middle;
}

.catalog__menu li{
    list-style-type: none;
    font-size: 16px;
    line-height: 38px;

}

.catalog__link{
	color: #686868;
}

.catalog__link--active{
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

.fa-chevron-right{
    margin-right: 12px;
}

.catalog__download{
	display: block;
	width: 220px;
	background-color: #354b60;
	text-decoration: none;
	color: #fff;
	text-align: center;
	padding: 9px 24px 9px 12px;
}

/*Catalog__example*/

.catalog__portfolio{
	width: 300px;
	background-color: #fff;
	float: right;
	margin: 0 0 20px 20px;
}

.catalog__portfolio:nth-child(2n){
	margin-left: 0;
}

.catalog__portfolio-item{
	padding: 20px;
	overflow: hidden;
}

.catalog__portfolio-item h2{
	padding-bottom: 30px;
	font-size: 21px;
	font-weight: 700;
}

.catalog__portfolio-item img{
	padding-bottom: 34px;
}

.catalog__cost-big{
	display: block;
	font-size: 27px;
	font-weight: 700;
}

.catalog__cost-little{
	display: inline-block;
	font-size: 20px;
}

.catalog__cost{
	text-align: center;
}

.catalog__btn{
	display: block;
	margin-top: 25px;
	width: 242px;
	padding: 12px 0 13px 0;
}

.catalog__btn a{
	float: left;
	width: 50%;
	text-decoration: none;
	color: #fff;
	padding: 10px;
}

.catalog__btn a:first-child{
	background-color: #f3c331;
}

.catalog__btn a:last-child{
	background-color: #354b60;
}